* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Color Emoji", "Apple Color Emoji", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #c79c5e;
}

.hero {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 3em;
}

.hero p {
  font-size: 1.2em;
  margin-top: 10px;
}

.content {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2em;
  color: #555;
}

.content li {
  margin-left: 40px;
}

.content-inner {
  display: grid;
  grid-template-columns: 500px 300px;
  gap: 10px;
  align-items: center;
}

.languages img {

  padding: 20px;
}

.language-cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
